<div *ngIf="books" class="container mx-auto">
<table class="table table-hover table-responsive-sm">
  <thead class="bg-dark text-white">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Category</th>
    <th scope="col">finished reading</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books | async; index as i;">
<!--    async to be able to do somthg else in the meantime-->
    <th scope="row">{{i+1}}</th>
    <td>{{book.bookTitle}}</td>
    <td>{{book.bookAuthor}}</td>
    <td>{{book.bookCategory}}</td>
    <td>{{book.finished}}</td>
    <td><button class="btn btn-dark" (click)="editBook(book)">edit</button></td>
    <td><button class="btn btn-danger" (click)="deleteBook(book.bookId)">delete</button></td>
  </tr>
  </tbody>
</table>
</div>
