<div class="container mx-auto">
<table class="table table-hover">
  <thead class="bg-dark text-white">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Category</th>
    <th scope="col">finished reading</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>bookTitle</td>
    <td>authorName</td>
    <td>cat</td>
    <td>yes</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>bookTitle</td>
    <td>authorName</td>
    <td>cat</td>
    <td>no</td>
  </tr>

  </tbody>
</table>
</div>
