<div class="card mt-3">
  <div class="card-body">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-md-4">Title</label>
        <input type="text" class="form-control" formControlName="bookTitle" #bookTitle/>
        <div *ngIf="bookForm.controls['bookTitle'].invalid && (bookForm.controls['bookTitle'].dirty || bookForm.controls['bookTitle'].touched)"
             class="alert alert-danger">
          <div *ngIf="bookForm.controls['bookTitle'].errors.required">
            Title is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Author</label>
        <input type="text" class="form-control" formControlName="bookAuthor" #bookAuthor/>
        <div *ngIf="bookForm.controls['bookAuthor'].invalid && (bookForm.controls['bookAuthor'].dirty || bookForm.controls['bookAuthor'].touched)"
             class="alert alert-danger">
          <div *ngIf="bookForm.controls['bookAuthor'].errors.required">
            Author is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Category</label>
        <input type="text" class="form-control" formControlName="bookCategory" #bookCategory/>
        <div *ngIf="bookForm.controls['bookCategory'].invalid && (bookForm.controls['bookCategory'].dirty || bookForm.controls['bookCategory'].touched)"
             class="alert alert-danger">
          <div *ngIf="bookForm.controls['bookCategory'].errors.required">
            Category is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Finished</label>
        <input type="text" class="form-control" formControlName="bookCategory" #bookCategory/>
        <div *ngIf="bookForm.controls['bookCategory'].invalid && (bookForm.controls['bookCategory'].dirty || bookForm.controls['bookCategory'].touched)"
             class="alert alert-danger">
          <div *ngIf="bookForm.controls['bookCategory'].errors.required">
            Finished status is required.
          </div>
        </div>
      </div>

<!--here drop-down for read yes no in progress-->


      <div class="form-group">
        <button type="submit"
                class="btn btn-success mr-1"
                [disabled]="false">Submit
        </button>
        <button type="button" class="btn btn-primary" (click)="clearForm()">Clear</button>
      </div>
    </form>
  </div>
</div>
